body{
    background-color: #E7EAB5;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: #00A19D;
}